include includes.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous")
        link(rel="stylesheet" type="text/css" href="pseudo.css")
        title PUG Document
    body
    div(class="main-col") 
        .navbar.container
            a(class="nav" href="#") Help
            a(class="nav" href="#") Features
            a(class="nav" href="#") Signup
            a(class="nav" href="#")
                b Landie
            button(class="navbtn") Buy Now
        .firstcont.container
            .col-lg-5.textplace
                h1 Introduce Your Product Quickly & Effectively
                p #{LoremTxt}
                .btns 
                    button.first-btn Purchase UI Kit
                    button.second-btn Learn More
        .secondcont.gridrow.container
            .col-lg-5.textplace.row
                h3 Light, Fast & Powerful
                p #{LoremTxt}
                .mini-textBoxes
                    .textplace
                        img(src="img/icon.svg", alt="icon")
                        h5 Title Goes Here
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    .textplace
                        img(src="img/icon.svg", alt="icon")
                        h5 Title Goes Here
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            .col-lg-7.pict-place
                img(src="img/1.png", alt="block-picture")
        .thirdcont.gridcol.container
            .mini-box
                .col-lg-6.pict-place
                    img(src="img/box1.png", alt="block-picture")
                .col-lg-6.content
                    h3 Light, Fast & Powerful
                    p #{LoremTxt}
            .mini-box
                .col-lg-6.pict-place
                    img(src="img/box2.png", alt="block-picture")
                .col-lg-6.content
                    h3 Light, Fast & Powerful
                    p #{LoremTxt}
            .mini-box
                .col-lg-6.pict-place
                    img(src="img/box3.png", alt="block-picture")
                .col-lg-6.content
                    h3 Light, Fast & Powerful
                    p #{LoremTxt}
                    button.first-btn #{PurchaseBtn}
        footer.container-fluid 
            .footer-content
                h3 A Price To Suit Everyone
                p #{FooterLoremTxt}
                h2 $40
                p UI Design Kit 
                span See, One price. Simple.
                button.first-btn #{PurchaseBtn}
    .footer-end 
        .footer-leg.container
            .col-lg-4 2020 Yourcompany
            .col-lg-4 Landie
            .col-lg-4 
                button.first-btn #{PurchaseBtn}
        .fotter-nav.container
            .nav
                a(class="nav" href="#") Help
                a(class="nav" href="#") Features
                a(class="nav" href="#") Signup
            .social-media-links 
                a(href="facebook.com" class="nav-col")
                    img(class="fb" src="images/footer/f.svg" alt="facebook-logo")
                a(href="twitter.com" class="nav-col")
                    img(class="tw" src="images/footer/t.svg" alt="twitter-logo")
                a(href="https://www.instagram.com/" class="nav-col")
                    img(class="ig" src="images/footer/i.svg" alt="instagram-logo")